<div class="bg-white p-4 w-[400px] h-[300px] rounded-lg shadow-lg">
    <p>
        Note
    </p>
    <mat-divider></mat-divider>
    <div>
        <small>
            title
        </small>
        <p class=" font-semibold">
            Note title
        </p>
    </div>
    <div class=" h-[120px] rounded-md">
        <small>
            Content
        </small>
        <p class="text-start overflow-hidden truncate ...">
            lorem ipsum bla bla and the rest
        </p>
    </div>
<mat-divider></mat-divider>
    <div class="grid justify-end mt-4">
        <button class="bg-slate-500 text-white rounded w-[100px] h-[40px] text-center">
            View
        </button>
    </div>
</div>
